//////// font var //////////////

$font-normal: sans-serif;

////////// color var //////////////////////



////////// media query //////////////////////
$desktop: "max-width:1240px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";